html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    overflow-x: hidden;
    display: block;
  }
}
/* for navbar */
.navbar-mobile {
  width: 400px;
  display: inline-block;
  border-radius: 5px 5px 0px 0px;
  height: 21vh;
  background-color: #ffffff;
  display: inline-block;
  overflow: hidden;
  box-shadow: -1px -6px 11px -3px rgba(238, 195, 2, 0.75);
}
.navbar-buttom {
  width: 400px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  border-radius: 5px 5px 0px 0px;
  background-color: #ffffff !important;
}

.button-bar {
  width: 5rem;
  background-color: #eec302;
}

.button-bar .icon {
  color: #eec302;
  font-size: 25px;
}
/* for recipe */
.recipe-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  max-width: 100vw;
}

.card-container {
  background: none !important;
  width: 14rem !important;
  height: 20vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.span-image {
  width: 220px !important;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.span-placeholder {
  width: 220px !important;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}
.images-card {
  width: 220px !important;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
.title-span {
  margin-top: -22%;
  margin-left: 4%;
  color: #ffffff;
  position: absolute;
  text-shadow: 2px 2px 3px rgba(29, 10, 10, 0.68);
}
.title-placeholder {
  margin-top: -22%;
  margin-left: -37%;
  color: #e7e7e7;
}
.title-mini {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 3px rgba(29, 10, 10, 0.68);
}
.image-category {
  object-fit: cover;
}
.recipe-scroll::-webkit-scrollbar {
  display: none;
}
.title-card {
  position: absolute;
  top: 17vh;
  left: 3vw;
  color: #e7e7e7;
}
.img-pop-mobile {
  width: 10vw;
  height: 10vw;
}
.bottom-left-mobile {
  position: absolute;
  bottom: 2vh;
  left: 7vw;
  width: 200px;
  font-family: "airBd";
  color: #e7e7e7;
}
/* for Banner */
.banner-pop-mobile {
  color: #2e266f;
  background: none;
  font-weight: 100;
  border: 1px solid gray;
  margin-right: -1vw;
  margin-left: -1vw;
  border-radius: 0px !important;
  padding-left: 1vw;
}

.banner-pop-mobile-new {
  margin-top: 1%;
  color: #2e266f;
  background: #efefef !important;
  border: 1px solid gray;
  margin-right: -1vw;
  margin-left: -1vw;
  border-radius: 5px !important;
  padding-left: 1vw;
}
.div-a a{
  text-decoration: none;
  color: #2e266f;
}
/* for background popular */

.card-mini {
  background-color: #57ce96 !important;
  margin: 1%;
  color: #2e266f;
}
.card-placeholder {
  background-color: #e5e5e5 !important;
  margin: 1%;
  border: none !important;
}
.card-mini:nth-child(1) {
  background-color: #eec302 !important;
  margin: 1%;
  color: #2e266f;
}

.card-mini:nth-child(2) {
  background-color: rgb(3, 149, 149) !important;
  margin: 1%;
  color: #2e266f;
}
.card-mini:nth-child(3) {
  background-color: rgb(191, 80, 80) !important;
  margin: 1%;
  color: #2e266f;
}
.card-mini:nth-child(odd) {
  background-color: rgb(2, 114, 114) !important;
  margin: 1%;
  color: #2e266f;
}
.card-mini:nth-child(even) {
  background-color: rgb(205, 92, 92) !important;
  margin: 1%;
  color: #2e266f;
}
/* grid row recipe*/

.container-mobile {
  width: 385px;
  border-radius: 10px;
  margin-left: 0px;
  padding: 1%;
  height: 89px;
  overflow: hidden;
  text-decoration: none !important;
}
.container-row-chat {
  width: 345px;
  border-radius: 10px;
  margin-left: 0px;
  padding: 1%;
  height: 89px;
  overflow: hidden;
  text-decoration: none !important;
}
.pagination {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
  height: 10vh;
  color: #999999 !important;
}
.page-item {
  border-radius: 50px;
  margin: 0.1rem;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  color: #2e266f !important;
}
.col-pagi {
  background-color: #eec302 !important;
  color: #e7e7e7;
  border: none;
}
.title-mobile {
  font-weight: bold;
  color: #2e266f;
}
.rating-mobile {
  color: #eec302;
  font-weight: bold;
  font-size: 14px;
}
.footer-title {
  font-size: small;
  font-weight: 100;
  color: #948282;
  margin-top: 2%;
}
.image-class {
  width: 127px;
  height: 81px;
  border-radius: 10px;
  object-fit: cover;
}
.image-row-chat {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  min-height: 80% !important;
}
.class-img {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 90px;
}
.link-like {
  color: #eec302 !important;
  text-decoration: none !important;
  width: 90%;
}
.link-like a{
  color: #eec302 !important;
  text-decoration: none !important;
  width: 90%;
}

/* search */
form input {
  background-color: #efefef !important;
  width: 430px !important;
  height: 50px;
  margin-top: 7vh;
  margin-left: 10px;
}
form button {
  width: 50px !important;
  padding: 10%;
  margin-top: 8vh;
  margin-right: 2vw;
}
.navbar-brand{
  margin-top: 10vh;
  height: 91%;

}
.div-bar{
  height: 65px;
  text-align: center;
}

/* carousel */
.carousel {
  margin-top: 12vh;
}
/* image serach bar */
.image-bar {
  object-fit: cover;
}
.input-bar {
  margin-left: 2vw;
  width: 90px !important;
  height: 40px;
  margin-top: 13vh;
  font-size: 10px;
  border: none !important;
  background-color: #efefef !important;
}
.span-input {
  height: 40px;
  margin-top: 13vh;
  background-color: white !important;
  margin-right: 4vw;
  border: none !important;
  background-color: #efefef !important;
}
/* footer */
.card-footer {
  background-color: #eec302 !important;
  border: none !important;
  display: flex !important;
  justify-content: center !important;
  justify-items: center;
  color: #2e266f !important;
  margin-bottom: 15vh;
  border-radius: 5px 5px 0px 0px !important;
}
/* Login  */
.container-login {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  justify-items: center;
  /* margin-top: 20vh; */
  padding: 5%;
  height: 100vh;
}
.container-chat {
  background-color: #e5e5e5;
  height: 100vh;
  overflow: hidden;
  padding: 2%;
}
.col-rooms{
  width: 100%;
  overflow-x: hidden;
  padding: 1%;
}
.btn-rooms{
  border: none;
  background-color: #eec302 !important;
  border-radius: 9px;
  color: #ffffff !important;
}
.form-send-message {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
}
.input-message {
  width: 80% !important;
  height: 40px;
  margin-top: -1vh;
  margin-left: 0vw;
  border: none;
}
.btn-message {
  width: 50px !important;
  height: 40px !important;
  margin-top: -1vh;
  margin-right: 0vw;
  border: none;
  margin-left: 1vh;
}
.btn-message:hover {
  background-color: #eec302;
  color: #ffffff;
}
.form-control-sm{
  width: 100%;
  height: 45px;
  border: none;
}
.rooms{
  border: 1px solid tomato !important;
  height: 100vh !important;
}
.btn-primary{
  margin-left: 1%;
  height: 45px;
  font-size: 12px !important;
  background-color: #eec302 !important;
  border: none !important;
}
.btn-primary:hover{
  background-color: #666666 !important;
  border: none !important;
}
.room-chat {
  width: 100%;
  height: 100vh;
  overflow: scroll;
}
.message #you {
  background-color: #2e266f;
}
.message #other {
  background-color: #2e266f;
}
.span-chat {
  width: 68px !important;
  height: 79px;
  overflow: hidden;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-chat {
  width: 3rem;
  height: 3rem !important;
  object-fit: cover;
  border-radius: 50%;
}
.name-chat {
  width: 50px;
  font-size: 10px;
  font-weight: 600;
  overflow: hidden;
}
#me {
  float: right;
}
#me .message-buble {
  width: 200px;
  border-radius: 50px;
border-bottom-right-radius: 0;
  display: inline-block;
  padding: 2%;
  text-align: end;
}
#me .message-title {
  background-color: #878578;
  color: #ffffff;
  max-width: 200px;
  margin-top: 4%;
  font-size: 13px;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  display: inline-block;
  padding: 3%;
  margin: 0;
}
#me .message-meta{
  display: flex;
  flex-direction: row;
  /* justify-content: end; */
  justify-items: end;
  /* align-items: flex-end; */
}
#me #time{
  font-size: 9px;
  margin: 0;
  margin-right: 10%;
}
#me #author{
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}

#other {
  float: left;
}
#other .message-buble {
  width: 200px;
  border-radius: 50px;
border-bottom-right-radius: 0;
  display: inline-block;
  padding: 2%;
  text-align: start;
}
#other .message-title {
  background-color: #eec302;
  max-width: 200px;
  margin-top: 4%;
  font-size: 13px;
  color: #2d2d2d;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  display: inline-block;
  padding: 3%;
  margin: 0;
  color: #efefef;
}
#other .message-meta{
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  justify-items: start;
}
#other #time{
  font-size: 9px;
  margin: 0;
  margin-right: 10%;
}
#other #author{
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}
.form-chat .input-chat {
  margin-left: -0.5vw;
  margin-top: 1vh;
  width: 360px !important;
  padding: 2%;
  border-radius: 10px;
}
.top-nav-bar {
  border: 1px solid gray;
  margin-top: -32vh;
}
.row-chat {
  width: 360px !important;
  padding: 2%;
  height: 16vh;
}
.row-list-chat {
  width: 360px !important;
  padding: 2%;
  height: 100vh;
  overflow-x: hidden;
}

.container-update {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  justify-items: center;
  height: 100vh;
}
.div-img{
  width: 54px !important;
}
.container-card{
  border: none !important; 
}
.link-i{
  color: #2d2d2d !important;
}
.link-i:hover{
  color: #948282 !important;
}
.link-i:focus{
  color: #eec302 !important;
}
.card-detail{
background: none !important;
}
.bg-avatar {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  padding: 10%;
  background-color: #c4c4c4;
}
.con-actions {
  margin-top: 10vh;
  border: 1px solid gray;
  width: 350px;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
.con-mix {
  height: 70px;
  padding: 2%;
  overflow: hidden;
  margin-top: 2vh !important;
}
.btn-loading {
  background-color: #e7e7e7;
  color: #666666;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  width: 150px !important;
}
.form-profile {
  width: 100%;
  padding: 2%;
  overflow: hidden;
}
.title-edit {
  margin-top: -20vh;
}
.form-profile input {
  width: 94% !important;
  margin-bottom: -5vh;
  border: none;
  padding: 2%;
  border-radius: 12px;
}
.form-profile .button-login {
  width: 94% !important;
  margin-top: 6vh;
}

.btn-loading:hover {
  background-color: #eec302;
  color: #efefef;
}
.label-up {
  background-color: #eec302;
  color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px !important;
  border-radius: 10px;
}
.label-up:hover {
  background-color: #2e266f;
  color: #e7e7e7;
}
.btn-logout {
  margin-top: 10vh;
  text-decoration: none !important;
}
.image-update {
  margin-top: 1vh;
  width: 150px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.bg-avatar .icon {
  font-size: 100px;
  color: #f5f5f5;
}
div h5 {
  text-align: center;
  margin-top: 4vh;
  color: #eec302;
}

.form-login input {
  border: #c4c4c4 !important;
  width: 350px !important;
}
.form-login textarea {
  background-color: #efefef !important;
  color: #999999;
  width: 350px !important;
  border: none;
  border-radius: 5px;
  margin-top: 1%;
  margin-left: 2.5%;
  padding: 1%;
}
.form-login .password {
  margin-top: -7%;
}
.row-login {
  margin-top: -10%;
}
.form-register input {
  border: #c4c4c4 !important;
  width: 345px !important;
  margin-bottom: -60% !important;
  padding: 4%;
  border-radius: 10px;
}
.text-forgot {
  text-align: center !important;
  font-size: 11px;
}
.span-couwn {
  background-color: #eec302;
  padding: 5%;
  border-radius: 10px;
  color: #666666;
}
.text-mini {
  float: right;
  margin-right: 3vw;
  font-size: 10px;
  font-weight: bold;
  color: #999999;
}
.button-login {
  background-color: #eec302 !important;
  border: none;
  width: 350px !important;
  margin-left: 2%;
  height: 50px;
  border-radius: 15px;
  padding: 2%;
  margin-top: 3vh;
  color: #999999;
}
.button-login:hover {
  background-color: #2e266f !important;
  border: none;
  width: 350px !important;
  margin-left: 2%;
  height: 50px;
  border-radius: 15px;
  padding: 2%;
  margin-top: 3vh;
  color: #999999;
}
/* add recipe */

/* profile */
.bg-profile {
  width: 100%;
  height: 50vh;
  background-color: #eec302;
}
.bg-col-profile {
  width: 96.5%;
  height: 70vh;
  margin-top: -14vh;
  border-radius: 20px 20px 0px 0px;
}
.image-profile {
  width: 8rem !important;
  height: 8rem;
  border-radius: 50% !important;
}
.container-image {
  display: flex;
  justify-content: center;
}
.container-image h3 {
  color: #e7e7e7;
}

ul li {
  list-style-type: none;
  color: #eec302 !important;
}
.btn-linkprofile {
  width: 90%;
}
li .icon {
  float: left;
  font-size: 25px;
}
li span {
  margin-left: 1vw;
  float: left;
}
li .icon-end {
  float: right;
  font-size: 25px;
}
li button {
  margin: 1%;
  color: #eec302 !important;
}
li button:hover {
  background-color: #e5e5e5 !important;
  font-size: 24px !important;
}
.btn-back {
  width: 40px;
  height: 50px;
  margin-left: 2vw;
  margin-top: 12vh;
  height: 37px;
  border-radius: 50%;
  font-weight: 50;
  color: #b0b0b0;
}
.btn-back:hover {
  background-color: #e7e7e7;
}
.text-result {
  color: #b0b0b0;
  font-size: 12px;
}
.row-pop {
  width: 454px;
}
.col-end {
  display: flex;
  width: 81px !important;
}
.col-end .icon {
  text-decoration: none;
  color: #e7e7e7;
  background-color: #eec302;
  width: 25px;
  height: 25px;
  margin: 5%;
  padding: 5%;
  border-radius: 2px;
}
.col-end .icon:nth-child(odd) {
  color: #eec302;
  background-color: #e5e5e5;
}
.container-search {
  margin-top: 12vh;
  overflow: hidden;
  padding: 1%;
  padding-left: 1.5vw;
}
.form-search {
  margin-top: -8vh;
  width: 311px;
  overflow: hidden;
  margin-left: -3px;
}
.form-search input {
  margin-top: 11vh;
    height: 40px;
    width: 262px !important;
}

.image-bg-recipe {
  position: relative;
  object-fit: cover;
}
.bg-image-recipe {
  width: 388px;
  height: 70vh;
  margin-top: -14vh;
  border-radius: 20px 20px 0px 0px;
  background-color: #ffffff;
  margin-top: -7vh;
  position: absolute;
  margin-left: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  padding: 2%;
}
.container-inggredients {
  width: 359px;
}
.card-body-det {
  border: none;
  width: 320px;
  margin-left: 0.5vw;
  text-align: left !important;
  justify-content: start;
  margin-top: 1vh;
  color: #948282;
  font-size: 15px;
  overflow: hidden;
}
.btn-det {
  background-color: #ffffff !important;
  margin: 1rem !important;
  text-decoration: none;
  color: #666666 !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}
.btn-det:active {
  color: #666666 !important;
  font-size: 17px !important;
  font-weight: bolder;
  text-decoration: underline #eec302;
}
.btn-det:hover {
  color: #666666 !important;
  font-size: 17px !important;
  font-weight: bolder;
  text-decoration: underline #eec302;
}

.con-det {
  height: 60px;
  border-radius: 16px;
  margin-left: 0.5vw !important;
  width: 310px;
  background-color: #faf7ed;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col-btn {
  background-color: #eec302;
  width: 5rem !important;
  height: 50px;
  border-radius: 15px;
  margin-left: 3px;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 29px;
}
.col-upload {
  background-color: #eec302;
  width: 19rem !important;
  height: 50px;
  border-radius: 15px;
  margin-left: 3px;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 29px;
}
.col-upload:hover {
  background-color: #e7e7e7;
  width: 19rem !important;
  height: 50px;
  border-radius: 15px;
  margin-left: 3px;
  color: #eec302;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 29px;
}
.title-video {
  margin-bottom: -0.5vh;
  color: #b6b6b6;
}
.footer-video {
  font-size: 10px;
  font-weight: bold;
  color: #666666;
}
.col-right {
  margin-left: 5%;
  overflow: hidden;
  width: 200px !important;
}
.row-pop-detail {
  width: 368px;
  margin-top: -25vh !important;
  margin-left: 2vw !important;
  position: absolute;
}
.col-det {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-det-1 {
  background-color:#e7e7e7;
  border: none;
  margin: 2%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 15%;
  color: #eec302;
  font-size: 20px;
}
.btn-det-2{
  border: none;
  margin: 2%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 15%;
  font-size: 20px;
  background-color:#eec302;
  color: #e7e7e7;
}

.btn-det-1:hover{
  background-color:#eec302;
  color: #e7e7e7;
}
.arrow-back {
  position: absolute;
  margin-top: -48vh !important;
  margin-left: 2vw;
  font-size: 34px;
  color: #e7e7e7;
}
.arrow-back:hover {
  color: #eec302;
}
.priview {
  width: 330px;
  margin-left: 1vw;
  color: #666666;
}
.input-file {
  margin-top: 1vh;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
}
.input-video {
  margin-top: 1vh;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
}

.priview img {
  margin-top: -2vh;
  border-radius: 10px;
}
.forgot-btn {
  text-decoration: none !important;
  color: #666666;
  font-size: 12px;
}
.forgot-btn:hover {
  color: #eec302;
}
.con-forgot a{
  display: flex;
  flex-direction: row;
  /* justify-content: end; */
  width: 350px !important;
  margin-left: 4%;
  text-decoration: none !important;
  color: #666666;
  font-size: 12px;
}

.title-det {
  color: #ffffff;
  text-shadow: 2px 2px 3px rgba(29, 10, 10, 0.68);
}
.text-det {
  font-size: 12px;
}
.footer-text a{
  text-decoration: none !important;
  color: #eec302 !important;
}
.text-sign {
  text-decoration: none !important;
  color: #eec302 !important;
}
.text-sign:hover {
  text-decoration: none !important;
  color: #2e266f;
}
.bg-icons {
  margin-left: 35%;
  display: flex;
  margin-top: 8%;
}
.bg-icons button:nth-child(1) {
  width: 2rem;
  background-color: #eec302;
  height: 2rem;
  margin: 7%;
  border-radius: 5px;
  border: none;
  color: #ffffff;
}
.bg-icons button:nth-child(2) {
  width: 2rem;
  background-color: #ffffff;
  height: 2rem;
  margin: 7%;
  border-radius: 5px;
  border: none;
  color: #eec302;
}
.bg-icons button:hover {
  width: 2rem;
  background-color: #2e266f;
  height: 2rem;
  margin: 7%;
  border-radius: 5px;
  border: none;
  color: #ffffff;
}
.button-label {
  background-color: #efefef !important;
  width: 350px !important;
  margin-left: 2%;
  height: 50px;
  border-radius: 15px;
  padding: 3%;
  margin-top: 3vh;
  text-align: center;
}

/* .button-video {
  background-color: #efefef !important;
  width: 303px !important;
  margin-left: -12%;
  height: 49px;
  border-radius: 15px;
  padding: 3%;
  margin-top: 0vh;
  text-align: center;
  padding: 15%;
} */
.button-label:hover {
  background-color: #2e266f !important;
  color: #efefef;
}
/* .button-video:hover {
  background-color: #2e266f !important;
  color: #efefef;
} */
.div-video{
  overflow-x: auto !important;
  height: 100vh !important;
}
.form-video{
  width: 320px !important;
  display: flex;
  justify-content: center;
}
.div-post{
  text-align: center;
  width: 320px;
  margin-top: 7%;
  display: inline-block;
}
.btn-post{
  background-color: #eec302 !important;
  color: white;
  margin: 0;
  height: 35px;
  width: 320px !important;
  padding: 0;
  border: none;
  border-radius: 5px;
}
.container-row{
  width: 320px;
  margin-bottom: 30vh;
}
.avatar-post{
  border-radius: 25px;
}
.label-video{
  width: 150px;
  border: 1px dashed;
  text-align: center;
  height: 40px;
  padding: 2%;
  border-radius: 5px;
}
.btn-video{
  margin: 0px;
}
.search-user {
  display: flex;
  overflow: hidden;
  height: 100vh !important;
  flex-direction: column;
  align-items: center;
}
/* .container-myrecipe{
  border: 1px solid #666666;
  height: 100vh;
  width: 99%;
  display: flex;
  flex-direction: column;
} */
.form-comment input{
  width: 309px !important;
  padding: 2%;
  margin-left: 1vw;
  border-radius: 15px;
}